#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Använd flexbox */
  flex-wrap: wrap; /* Låt elementen wrap vid behov */
  justify-content: center; /* Centrera elementen horisontellt */
}
 
li {
  flex: 0 0 auto; /* Auto storlek för elementen */
  margin: 0.5rem; /* Lite mellanrum mellan bilderna */
}
 
.product-list {
  list-style-type: none;
  padding: 0;
}
 
.product-wrapper {
  text-align: center; /* Centrera innehållet horisontellt */
}
 
.product-info {
  margin-top: 0.5rem; /* Lite mellanrum mellan bilden och texten */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
