#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  background-color: #fdf9ec;
  margin-left: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.08);
  width: 160px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

li {
  flex: 0 0 auto;
  margin: 5px;
}

img {
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}

.ulContainer {
  list-style-type: none;
  padding: 0;
}

.productContainer {
  background-color: #57c5c7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.imgContainer {
  text-align: center;
}

.priceContainer {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 20px;
  font-size: 1.2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminButton {
  background-color: #57c5c7;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.08);
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.loginContainer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
}

.loginInput {
  border-radius: 30px;
  margin: 2px;
  
}

.loginButton {
  background-color: #57c5c7;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.08);
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
