.delete svg {
  font-size: 1.5em;
}
.delete {
  display: flex;
  align-items: flex-end;
}

.delete:hover {
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
}

.bigCartContainer {
  flex-direction: column;
  padding-right: 30px;
  position: fixed;
  right: 30px;
  width: 300px;
  max-height: 70vh;
  top: 120px;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #a37552;
  border-radius: 20px;
}

.bigCartContainer::-webkit-scrollbar {
  background-color: #66503d;
}

.bigCartContainer::-webkit-scrollbar-track {
  background: #66503d;
}

.bigCartContainer::-webkit-scrollbar-thumb {
  background: #b4987e;
  border-radius: 10px;
}

.smallCartContainer {
  margin: 35px 0;
}

ul {
  padding: 0;
}

.itemContainer {
  display: flex;
  margin-bottom: 20px;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .bigCartContainer {
    width: 270px;
  }
}

@media screen and (max-width: 992px) {
  .bigCartContainer {
    width: 230px;
  }
  .itemContainer {
    display: block;
  }
  .delete {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .bigCartContainer {
    width: 190px;
  }
  .delete {
    padding-right: 0px;
  }
 
}

@media screen and (max-width: 576px) {
  .bigCartContainer {
    width: 140px;
  }

}
