nav {
  display: flex;
  justify-content: flex-end;
}

.navContainer {
  position: fixed;
  z-index: 1000;
  background-color: #956b4b;
  height: 70px;
  border-radius: 70px;
  margin-top: 5px;
}

nav ul {
  height: 0px;
  list-style-type: none;
  margin: 10px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}

nav ul li {
  padding: 0 20px;
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.login:hover,
.register:hover,
.logout:hover,
.cart:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home svg {
  font-size: 1.9em;
}

.login svg {
  font-size: 1.9em;
}

.register svg {
  font-size: 1.9em;
}

.cart {
  position: relative;
}

.cart svg {
  font-size: 2.3em;
}

.cart p {
  position: absolute;
  right: -10px;
  top: -2px;
  background-color: rgb(16, 16, 16);
  color: white;
  height: 0.1rem;
  width: 0.1rem;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
